#table_pagination nav > div.hidden > div:nth-child(2) > span span.relative.text-gray-500 {
    background-color: #6777ef !important;
    color: white;
}

#table_pagination nav > div.hidden > div:nth-child(2) > span button.relative,
#table_pagination nav > div.hidden > div:nth-child(2) > span span.relative {
    padding: 8px 12px !important;
}

#form-create > div > div.mt-5,
.section-body > div > div.max-w-7xl div.md\:grid div.mt-5 {
    margin-top: 0 !important;
}

textarea.form-control {
    height: 64px !important;
}

/* Select2 */
.select2-dropdown {
    overflow: hidden;
}

.select2-container--default .select2-selection--single {
    background-color: #fdfdff;
    border-color: #e4e6fc;
    font-size: 14px;
    /* padding: 7px 15px; */
    height: 42px;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #e9ecef;
    opacity: 1;
}

.select2-container--default .select2-selection--single:focus, .select2-container--default.select2-container--disabled .select2-selection--single:focus {
    outline: none;
    background-color: #fefeff;
    border-color: #80ACC3;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 42px;
    width: 38px;
    top: 0;
    right: 0;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    height: 42px;
    margin-right: 38px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    background-color: #fdfdff;
    border-color: #e4e6fc;
    font-size: 14px;
    padding: 10px 15px;
    height: 42px;
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus {
    outline: none;
}

.select2-dropdown {
    box-shadow: 0 10px 40px 0 rgb(51 73 94 / 15%);
    background-color: #fff;
    border-radius: .25rem;
    border-color: #f9f9f9;
    margin: .125rem 0 0;
    overflow: hidden;
}

.select2-search--dropdown {
    padding: .5rem;
}

.select2-results {
    padding: 0 0 .5rem;
}

.select2-results__option {
    font-size: 13px;
    padding: 10px 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #212529;
}

.select2-results__message, .loading-results {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1.5px;
    font-weight: 700;
    color: #191d21 !important;
    padding: 10px 20px;
    line-height: 20px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #005688;
    color: white;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #636c72;
}